# Requirements to install anuga in read the docs

# Note: This file is used by read the docs to install the required packages
#       to build the documentation. It is not used to install anuga itself.


numpy
gdal
pytest
meshpy
cython
scipy
netcdf4
matplotlib
dill
utm
pyproj
affine<3  # TASK-2883: affine 3.x warns (PendingDeprecationWarning) on the `Affine * Affine` rasterio still uses internally; hydrata pins 2.4.0
openpyxl
pybind11
pymetis
Pmw
meson
meson-python
ninja
xarray
cartopy
